<configuration>
<packageSources>
<clear />
<add key="jfrog" value="https://lucius.ups.com/artifactory/api/nuget/v3/wwrr-mod-app-nuget-dev-virtual" />
<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
</packageSources>
 
	<packageSourceMapping>
<packageSource key="jfrog">
<package pattern="UPS.*" />
<package pattern="Npgsql.*" />
</packageSource>
<packageSource key="nuget.org">
<package pattern="*" />
</packageSource>
</packageSourceMapping>
</configuration>