<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Replace with your JFrog repository URL -->
    <add key="JFrog" value="https://lucius.ups.com/artifactory/api/nuget/v3/wwrr-mod-app-nuget-dev-virtual" protocolVersion="3" />
    <!-- Optional: Add nuget.org as fallback -->
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

<packageSourceCredentials>
  <JFrog>
    <add key="Username" value="cw000011999@ups.com" />
    <add key="ClearTextPassword" value="%JFROG_IDENTITY_TOKEN%" />
  </JFrog>
</packageSourceCredentials>
</configuration>
