<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Replace with your JFrog repository URL -->
    <add key="jfrog" value="https://lucius.ups.com/artifactory/api/nuget/v3/wwrr-mod-app-nuget-dev-virtual" />
    <!-- Optional: Add nuget.org as fallback -->
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <!-- Optional but recommended: enforce which packages come from which feed -->
  <packageSourceMapping>
	  <packageSource key="jfrog">
		  <package pattern="UPS.*" />
	  </packageSource>	  
	<packageSource key="nuget.org">
		<package pattern="*" />
	</packageSource>
</packageSourceMapping>
</configuration>
